@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

html, body {
    font-family: "Rajdhani", sans-serif !important;
}

:root {
    --myred: #da3232;
    --myred-dark: #c11919; /*Darker by 10%*/
    --myred-darker: #a70000; /*Darker by 20%*/
    --myred-light: rgba(218, 50, 50, 0.5);
    --myred-lighter: rgba(218, 50, 50, 0.25);
}

.carousel-inner {
    max-height: 100vh;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption i {
    font-size: 6rem;
}
.carousel-caption a {
    color: inherit;
}
.carousel-caption a:hover {
    color: #eeeeee
}

.footer-brand:hover {
    text-decoration: none;
}

.content {
    width: 90vw;
    margin: auto;
}
code {
    background-color: beige;
    border: 5px solid beige;
    border-radius: 5px;
}
.card img {
    align-self: center;
}

.footer {
    border-top: 4px solid #f2f2f2;
}
.footer-social {
    font-size: 2rem;
    list-style: none;
    padding-left: 0;
}
.footer-social li {
    float: left;
    padding: 0 10px;
}
.footer-social li:first-child {
    padding-left: 0;
}
.fa-heart {
    color: var(--myred);
    font-size: 1.2rem;
}

/*Bootstrap Overrides :not(.carousel-caption>i) */
.navbar-brand, .footer-brand {
    font-size: 2rem !important;
}

a:not(#scrollToTopLink) {
    color: var(--myred) !important;
}

a:hover:not(.footer-brand):not(#scrollToTopLink) {
    color: var(--myred-dark) !important;
}

code {
    color: var(--myred) !important;
}

.form-control:focus {
    border-color: var(--myred) !important;
    -webkit-box-shadow: 0 0 0 0.2rem var(--myred-lighter) !important;
            box-shadow: 0 0 0 0.2rem var(--myred-lighter) !important;
}

.btn-primary {
    background-color: var(--myred) !important;
        border-color: var(--myred-dark) !important;
}

.btn-primary:hover {
    background-color: var(--myred-dark) !important;
        border-color: var(--myred-darker) !important;
}

.btn-primary:focus, .btn-primary.focus {
    background-color: var(--myred-dark) !important;
        border-color: var(--myred-darker) !important;
    -webkit-box-shadow: 0 0 0 0.2rem var(--myred-light) !important;
            box-shadow: 0 0 0 0.2rem var(--myred-light) !important;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: var(--myred-lighter) !important;
        border-color: var(--myred-light) !important;
}