@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

html, body {
    font-family: "Rajdhani", sans-serif !important;
}

.carousel-inner {
    max-height: 100vh;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption i {
    font-size: 6rem;
}
.carousel-caption a {
    color: inherit;
}
.carousel-caption a:hover {
    color: #eeeeee
}

.navbar-brand, .footer-brand {
    color: #da3232 !important;
    font-size: 2rem !important;
}
.footer-brand:hover {
    text-decoration: none;
}

.content {
    width: 90vw;
    margin: auto;
}
code {
    color: #da3232 !important;
    background-color: beige;
    border: 5px solid beige;
    border-radius: 5px;
}
.card img {
    align-self: center;
}

.downloadicon {font-size: 2rem;}
.downloadicon.detected {font-size: 3rem;}
.downloadicon:hover {text-decoration: none;}

.downloadicon.windows {color: #0078d7;}
.downloadicon.windows:hover {color: #0045a4;}

.downloadicon.android {color: #a4c639;}
.downloadicon.android:hover {color: #719306;}

.downloadicon.linux {color: #444;}
.downloadicon.linux:hover {color: #111;}

.downloadicon.github {color: #444;}
.downloadicon.github:hover {color: #111;}

.footer {
    border-top: 4px solid #f2f2f2;
}
.footer-social {
    font-size: 2rem;
    list-style: none;
    padding-left: 0;
}
.footer-social li {
    float: left;
    padding: 0 10px;
}
.footer-social li:first-child {
    padding-left: 0;
}
.footer-social i {
    color: #da3232 !important;
}