{% extends "base.html" %}

{% block title %}News-Notifier{% endblock %}

{% block content %}
<h1 class="text-center display-1">News-Notifier</h1>
{% if not github.authorized %}
<script>
    $(document).ready(function () {
        $('#accountPopUp').modal();
    });    
</script>
<div class="modal fade" id="accountPopUp" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accountPopUpLabel"><strong>You aren't logged in!</strong></h5>
            </div>
            <div class="modal-body">
                <p>
                    In order to access your dashboard and other account/member features, you must login with GitHub.<br>If you wish to continue without logging in, you can press the 
                    ignore button.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ignore</button>
                <a class="btn btn-dark" href="{{ url_for('github_login') }}" role="button"><i class="fab fa-github"></i> Login with GitHub</a>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-secondary" role="alert">
    <p>You aren't logged in! You won't be able to access your dashboard or other member/account features!</p>
    <a class="btn btn-dark text-right" href="{{ url_for('github_login') }}" role="button" style="color:white;"><i class="fab fa-github"></i> Login with GitHub</a>
</div>
{% else %}
<div class="alert alert-info" role="alert">
    <h1>Welcome, {{ github.get("/user").json()["login"] }}!</h1>
    <a class="btn btn-primary" href="{{ url_for('log_out') }}" role="button"><i class="fas fa-sign-out-alt"></i> Log Out</a>
</div>
{% endif %}
<div class="container">
    <div class="row text-center">
        <div class="col-md-4 text-right">
            <h2>About News-Notifier</h2>
        </div>
        <div class="col-md-8 text-left">
            <p>
                Welcome to News-Notifier! News-Notifier is a service which is used in order to notify users of news stories which they subscribe to, as soon as they're published! It's
                essentially a reboot of a RSS feed, but it's a lot better looking, it's available on many platforms (Windows, Linux, MacOS, Android, iOS) and chat apps (Slack, Matrix) 
                which are all synced between eachother.
            </p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4 text-right">
            <h2>Features</h2>
        </div>
        <div class="col-md-8 text-left">
            <p>News-Notifier is jam-packed with features! You can:</p>
            <ul>
                <li>Recieve and view your stories on any platform!</li>
                <li>Subscribe and unsubscribe to/from many different sources!</li>
                <li>Change which topics you'll recieve notifications for!</li>
            </ul>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4 text-right">
            <h2>Downloads</h2>
        </div>
        <div class="col-md-8 text-left">
            <p>
                Downloads coming soon.
            </p>
        </div>
    </div>
</div>
{% endblock %}